<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PhotoPerfil.jpg" id="PhotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mori Aylen Abigail</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ea culpa, similique 
                eos perspiciatis quaerat laborum deserunt. 
                Obcaecati aspernatur assumenda expedita dicta 
                facilis ducimus tenetur aut? Accusantium 
                itaque veritatis autem eius.</p>
        </span>
    </div>
</div>